html, body, #app, #app>div {
  height: 100%
}

html,
body {
  margin: 0;
}

.container {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    font-size: 6vw;
    background-color: #425346;
    min-height: 100vh;
    padding: 0;
  }

.main-content {
    padding-top: 100px;
    background-color: #16261d;
    min-height: 400px;
}

.top-navi {
    margin-top: 0;
}

a {
  color: #ffffff;
  text-decoration: underline;
  background-color: transparent;
}