.login-form {  
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    
}

.overlay-content {
    justify-content: center;
    max-width: 40em;
    top: 12em;
    text-align: center;
    padding: 4em 2em 2em 2em;
    color: #ffffff;
}
.overlay-content label {
    margin: .3rem;
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.overlay-content input {
    margin-bottom: 10px;
}

.loginform-button {
    margin: 0.5em;
    padding: 0.5em !important;
}

.login-form-button-container {
    position: relative;
    height: 75px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.login-container {
    margin: 1em 1em;
}

.login-fields Button {
    width: 100%;
    margin-bottom: 2em;
}

.login-fields {
    pointer-events: all;
}

.login-container .frameBox svg {
    z-index: -1;
}