.single-profile-name {
  font-weight: bold;
  font-size: 0.8em;
  padding-top: 10px;
  color: #67655e;
}

.profile-info-container {
  background-color: #f0f0db;
  color: #a1a193;
  font-family: Georgia;
}

.profile-container {
  padding: 0;
}

.profile-name {
  text-align: left;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-left: 30px;
  color: white;
  text-decoration: unset;
  font-family: Georgia;
  font-weight: bold;
  font-size: 1em;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.profile-name a {
  text-decoration: unset;
}

.profile-city {
    font-size: 4vw;
  }

.profile-info {
  font-size: 3vw;
  text-align: left;
  padding: 15px;
}

.bottom-border {
  background-color: #ffffff;
  height: 15px;
}

.top-border {
  background-color: #f0f0db;
  height: 10px;
  border-bottom: 3px solid #375244;
}

.react-tags {
  position: relative;
  padding: 6px 6px 0 6px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #B1B1B1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  background: #f2f2f2;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: '\2715';
  color: #AAA;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #B1B1B1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
  min-width: 100%;
}

@media screen and (min-width: 30em) {

  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }

}

.react-tags__search input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  min-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.react-tags__suggestions ul {
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
  text-align: left;
}

.react-tags__suggestions li mark {
  font-weight: bold;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.back-button {
  padding: 0 0.5em;
  text-align: left;
}

.round-button {
  border-radius: 150px;
  border: 0.1em solid;
  height: 2em;
  width: 2em;
  font-size: 1.3em;
  line-height: 0px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1em;
}
.flex-grid .col {
  flex: 1 1 5em;
}

.flex-grid .col-button {
  flex: 1 1 50px;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.3em;
}

.btn {
  padding: 0;
}

.liked {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.not-liked {
  color: #28a745 !important;
  border-color: #28a745 !important;
  background-color: transparent !important;
}