.registeration-form {
    margin: 0;
    min-height: 80vh;
}

.type-button-container {
    flex-direction: row;
    align-items: stretch;
}

.registeration-form .input-form {
    padding: 3em 1em;
    position: relative;
}

.registeration-input {
    margin-bottom: 10px;
}

.registeration-button {
    margin: 1em;
    padding: 0.5em 5%;
}

.flex-div {
    display: flex;
}

.button-label {
    height: 2.5em;
}

.type-selected {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.type-button {
    position: relative;
}

.type-button-image {
    width: 100%;
}

.type-button-overlay {
    transition: .5s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #375244;
    opacity: .8;
}

.type-button p {
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.type-button p.artist {
    height: 10%;
    margin: 0;
    bottom: 0;
    top: auto;
}

.type-button:hover .type-button-overlay {
    background-color: #436151;
    opacity: 0.3;
}

.bg-image-container {
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    position: relative;
}

.bg-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bg-image-overlay {
    transition: .5s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #375244;
    opacity: .7;
}

.registeration-form .scoopedBoxClickable {
    margin: 1em 0;
}

.registeration-form .type-button-container .scoopedBoxClickable {
    bottom: 2em;
}

